<!DOCTYPE  html>
<!--ng-app hace referencia al nombre de nuestro modulo-->
<html lang="es" ng-app="app">
	<head>
		<title>Listín Telefónico</title>
		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="UTF-8" />
		<!--STYLES-->
    <!--STYLES END-->
    <!-- librerías opcionales que activan el soporte de HTML5 para IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>
		<!--añadimos aquí el controlador appController ya que será donde mostremos los usuarios-->
		<div ng-controller="appController" class="container">
			<!-- barra superior de navegación -->
			<nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Listín Telefónico</a>
        </div>
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/') }"><a href="#/">Inicio</a></li>
                <li ng-class="{ active: isActive('/add') }"><a href="#/add">Añadir usuario</a></li>
								<li ng-class="{ active: isActive('/about') }"><a href="#/about">Acerca de</a></li>
								<li ng-if="!usuarioAutentificado" ng-class="{ active: isActive('/login') }"><a href="#/login">Login</a></li>
								<li ng-if="usuarioAutentificado"><a href="/logout">Logout</a></li>
            </ul>
			</nav>
		  <!--aquí es donde cargarán todas las vistas dependiendo de la url-->
			<div ng-view></div>
			<!--aquí es el pie de página-->
			<div>
				<p class="text-right">(c)2015 A.Medina</p>
			</div>
		</div>
		<!--SCRIPTS-->
		<!--SCRIPTS END-->

	</body>
</html>
