<!--ventana de información de acerca de-->
<div class="modal-header">
    <h3 class="modal-title">Acerca del Listín Telefónico</h3>
</div>
<div class="modal-body">
  <p>Front-end realizado en AngularJS y Back-end en SailsJS (NodeJs Framework)</p>
  <p>Conexión de la API de SailsJS a MySQL</p>
	<p class="text-right">(c)2015 A.Medina</p>
</div>
<div class="modal-footer">
	<!--asociamos a la directiva ng-click la ok()-->
	<button class="btn btn-success" type="button" ng-click="ok()">Cerrar</button>
</div>
