<!--si no hay usuarios que mostrar, con la directiva ng-show comprobamos
el array usuarios y mostramos un mensaje-->
<div ng-show="usuarios.length == 0">
	<h3>No hay usuarios para mostrar</h2>
</div>
<!--creamos un campo de texto que nos servirá para buscar usuarios, simplemente
le damos como ng-model el mismo que le demos al atributo filter en el loop de abajo,
aparte de un buscador es un autocompletar, y más sencillo no puede ser-->
<!--sólo si hay usuarios mostramos el buscador-->
<div class="form-group has-feedback">
	<input type="text" class="form-control" ng-model="buscador"  ng-show="usuarios.length > 0" placeholder="Introduce filtro en la tabla" />
	<i class="form-control-feedback glyphicon glyphicon-search"></i>
</div>
<div class="table-responsive">
		<table class="table table-hover table-striped table-condensed">
			<tr class="info">
				<th>Apellidos</th>
				<th>Nombre</th>
				<th>Teléfono 1</th>
				<th>Teléfono 2</th>
				<th>Departamento</th>
				<th>Servicio</th>
				<th></th>
				<th></th>
			</tr>
			<tr ng-repeat="usuario in usuarios | filter: buscador" style="cursor: pointer;">
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.apellidos}}</td>
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.nombre}}</td>
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.telefono1}}</td>
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.telefono2}}</td>
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.departamento.nombre}}</td>
				<td ng-click="infoUsuarioOpen(usuario.id)">{{ usuario.servicio.nombre}}</td>
				<td ng-if="usuarioAutentificado">  <div><a  class="btn btn-success btn-xs" href="#/edit/{{usuario.id}}">Editar</a></div> </td>
				<td ng-if="usuarioAutentificado">  <div><a  class="btn btn-danger btn-xs" ng-click="removeUsuarioOpen(usuario.id)">Eliminar</a></div> </td>
			</tr>
		</table>
		<pagination total-items="totalUsuarios" items-per-page="registrosPorPagina"
			ng-model="paginaActual" ng-change="cambioPagina()" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="10" rotate="false"></pagination>
	</div>
