<!--si no hay usuarios que mostrar, con la directiva ng-show comprobamos
el array usuarios y mostramos un mensaje-->
<div ng-show="usuarios.length == 0">
	<h3>No hay usuarios para mostrar</h2>
</div>
<!--creamos un campo de texto que nos servirá para buscar usuarios, simplemente
le damos como ng-model el mismo que le demos al atributo filter en el loop de abajo,
aparte de un buscador es un autocompletar, y más sencillo no puede ser-->
<!--sólo si hay usuarios mostramos el buscador-->
<input type="text" ng-model="buscador"  ng-show="usuarios.length > 0" />
<!--como nuestros usuarios no tienen id, la forma de poder eliminarlos es recorriendo
el array añadiendo la clave id, así podremos saber a cuál hacer referencia, de esta forma
al añadir usuarios y no tener definida su id, angularjs le asignará la siguiente al último usuario
existente, es decir, un campo autoincremental-->
	<div ng-repeat="usuario in usuarios | filter: buscador">

	        <a href="#/info/{{usuario.id}}">
	        	Nombre: {{ usuario.nombre}} Apellidos: {{ usuario.apellidos }} Teléfono 1: {{ usuario.telefono1 }} Teléfono 2: {{ usuario.telefono2 }}
						Departamento: {{usuario.departamento.nombre}} Servicio: {{usuario.servicio.nombre}}
	        </a>
	       <!--aquí mostramos los dos botones, uno para ir a editar al usuario y otro para ir a eliminarlo-->
	      <div>
				  <div><a href="#/edit/{{usuario.id}}">Editar</a></div>
				  <div> <a href="#/remove/{{usuario.id}}">Eliminar</a></div>
			</div>
	</div>
